<mat-sidenav-container class="layout-container">
  <!-- Sidenav -->
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard"><mat-icon>dashboard</mat-icon> Dashboard</a>
      <a mat-list-item routerLink="/usuarios"><mat-icon>group</mat-icon> Usuarios</a>
      <a mat-list-item routerLink="/cursos"><mat-icon>school</mat-icon> Cursos</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Contenido principal -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Gestión Académica</span>
      <span class="spacer"></span>
      <button mat-button routerLink="/login">Cerrar sesión</button>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
